<form class="w-50" [formGroup]="formGroup" *ngIf="formGroup" (submit)="submit$.next()">
  <div class="row justify-content-around">
    <div class="col-12 mb-3">
      <label for="positionX" class="form-label">Position X axis</label>
      <input type="number" class="form-control" id="positionX" placeholder="x" formControlName="positionX">
    </div>
    <div class="col-12 mb-3">
      <label for="positionY" class="form-label">Position Y axis</label>
      <input type="number" class="form-control" id="positionY" placeholder="y" formControlName="positionY">
    </div>
    <div class="col-12 mb-3">
      <label class="form-label">Facing</label>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="Facing group">
          <ng-container *ngFor="let facing of facingKeys">
            <input type="radio" class="btn-check" [value]="facing" [id]="facing" autocomplete="off" checked="" formControlName="facing">
            <label class="btn btn-outline-primary" [for]="facing">{{facing}}</label>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <label class="form-label">Pawn colour</label>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="Colour group">
          <ng-container *ngFor="let colour of pawnColourKeys">
            <input type="radio" class="btn-check" [value]="colour" [id]="colour" autocomplete="off" checked="" formControlName="colour">
            <label class="btn btn-outline-primary" [for]="colour">{{colour}}</label>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <button type="submit" class="btn btn-success" [disabled]="formGroup.invalid">Submit</button>
      </div>
    </div>
  </div>
</form>
