<div class="toolbar" role="banner">
  <p class="m-3 fs-1 text-center">Welcome</p>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <button routerLink="pawn-simulator" type="button" class="btn btn-primary">Open The Pawn Simulator</button>
    </div>
  </div>
</div>
