<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body d-flex flex-column align-items-center">
        <h5 class="card-title mb-4">The Pawn Simulator control panel</h5>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2" role="group" aria-label="Move group">
            <button type="button" class="btn btn-primary" (click)="onMove()">Move</button>
            <button type="button" class="btn btn-primary" [disabled]="!isFirstMove" (click)="onMove(2)">Move by two</button>
          </div>
          <div class="btn-group me-2" role="group" aria-label="Rotate group">
            <button type="button" class="btn btn-outline-primary" (click)="left$.next()">Left</button>
            <button type="button" class="btn btn-outline-primary" (click)="right$.next()">Right</button>
          </div>
          <div class="btn-group" role="group" aria-label="Report group">
            <button type="button" class="btn btn-info" (click)="report$.next()">Report</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
