<app-pawn-simulator-form
  *ngIf="!isFormSubmitted; else controlPanel;"
  [formGroup]="pawnFormGroup"
  (submit$)="onSubmit()"
></app-pawn-simulator-form>
<ng-template #controlPanel>
  <app-pawn-simulator-controls
    (move$)="onMove($event)"
    (left$)="onLeft()"
    (right$)="onRight()"
    (report$)="onReport()"
  ></app-pawn-simulator-controls>
</ng-template>
